* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.header {
    display:flex;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    position: absolute;
    background-image: url("./resources/background-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.main {
    top: 30%;
    left: 0;
    height: 70%;
    width: 100%;
    position: absolute;
    background-image: url("./resources/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header > .init-button{
    top: 10%;
    left: 10%;
    height: 80%;
    width: 20%;
    position: relative;
    background-image: url("./resources/background-button.jpg");
    color: white;
    border: solid burlywood 3px;
}
.header > .difficulty{
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 15%;
    height: 70%;
    width: 10%;
    position: relative;
    color: white;
    justify-content: space-between;
    font-weight: bold;
}
.header > .difficulty > input[type="radio"]{
    display: flex;
}
.header > .clicks{
    display: flex;
    top: 10%;
    left: 15%;
    height: 50%;
    width: 20%;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    border: solid burlywood 3px;
    background-image: url("./resources/background-button.jpg");
}
.header > .cards-guessed {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 10%;
    left: 15%;
    height: 25%;
    width: 25%;
}
.header > .cards-guessed > img{
    height: 50px;
    width: 50px;
    position: relative;
}

.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 100px 0 100px;
}

.cards img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.hide-img {
    visibility: hidden;
}