* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.header {
    display:flex;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    position: absolute;
}
.main {
    top: 30%;
    left: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}
.header > .init-button{
    top: 10%;
    left: 10%;
    height: 80%;
    width: 20%;
    position: relative;
    background-color: pink;
    color: white;
}
.header > .difficulty{
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 15%;
    height: 70%;
    width: 10%;
    position: relative;
    color: white;
    justify-content: space-between;
}
.header > .difficulty > input[type="radio"]{
    display: flex;
}
.header > .clicks{
    display: flex;
    top: 10%;
    left: 15%;
    height: 50%;
    width: 20%;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 100px 0 100px;
}


.cards img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.hide-img {
    visibility: hidden;
}